layout_conda() {
  local ANACONDA_HOME="/usr/local/anaconda3"
  PATH_add "$ANACONDA_HOME/bin"
  source activate $1
  if [ $? -ne 0 ]; then
    conda create -n $1 python=3 -y
    source activate $1
  fi
}

layout conda machine_learning

export DYLD_LIBRARY_PATH=/usr/local/cuda/lib:/Developer/NVIDIA/CUDA-8.0/extras/CUPTI/lib